<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <blog>
            <general>
                <enable>0</enable>
                <name_in_frontend>Module Blog</name_in_frontend>
                <number_per_page>5,10,15</number_per_page>
            </general>
        </blog>
        <blog>
            <seo>
                <base_url>blog</base_url>
                <suffix_post>.html</suffix_post>
                <suffix_cagtegory>.html</suffix_cagtegory>
            </seo>
        </blog>
    </default>
</config>
